<article class="list-project">
    {{ if .featured_image }}
        {{ with .link }}<a class="no-link-decoration" href="{{ . | absURL }}">{{ end }}<img class="image" src="{{ .featured_image | absURL }}" alt="{{ .title }}" title="{{ .title }}">{{ if .link }}</a>{{ end }}
    {{ end }}
    <div class="padded" style="position: relative;">
        <h2>{{ with .link }}<a href="{{ . | absURL }}">{{ end }}{{ .title }}{{ if .link }}</a>{{ end }}{{ with .language }} ({{ . }}){{ end }}</h2>
        <aside class="list-project-meta">
            <span class="meta-date"><time>{{ .date }}</time></span>
            {{ with .type }} &bull; {{ . }}{{ end }}
            {{ with .coauthors }} &bull; in collaboration with {{ . | markdownify }}{{ end }}
            {{ with .license }} &bull; {{ . }}{{ end }}
        </aside>
        <div class="description">
            {{ with .description }}
                {{ . | markdownify }}
            {{ end }}
        </div>
    </div>
    {{ with .footer }}
        <aside class="list-project-footer">
            <div class="padded">
                {{ . | markdownify }}
            </div>
        </aside>
    {{ end }}
</article>
