<article class="list-publication">
    {{ if .featured_image }}
        <img class="image" src="{{ .featured_image }}" alt="{{ .title }}">
    {{ end }}
    <div class="padded">
        {{ if .download }}<a href="{{ .download | absURL }}">{{ end }}<h2>{{ .title }}{{ if .language }} ({{ .language }}){{ end }}</h2>{{ if .download }}</a>{{ end }}
        <aside class="list-publication-meta">
            <span class="meta-date"><time>{{ dateFormat "2006-01-02" .date }}</time></span>
            {{ if .type }} &bull; {{ .type }}{{ end }}
            {{ if .coauthors }} &bull; in collaboration with {{ .coauthors | markdownify }}{{ end }}
            {{ if .license }} &bull; {{ .license }}{{ end }}
        </aside>
        <div class="description">
            {{ if .description }}
                {{ .description | markdownify }}
            {{ end }}
        </div>
        <aside class="list-publication-footer">
            {{ if .download }}<a href="{{ .download | absURL }}">Download here</a>{{ end }}
            {{ if .more_info }}{{ if .download }}&bull;{{ end }} <a href="{{ .more_info | absURL }}">More details</a>{{ end }}
        </aside>
    </div>
</article>
