{{ partial "header" . }}

<main>
    <div id="home-hero" class="h-card vcard">
        <div id="home-hero-main">
            <div id="home-hero-photo">
                <img src="/photo.jpg" class="u-photo photo" alt="Photo of Benjamin Altpeter">
            </div>
            <div id="home-hero-heading">
                <div id="home-hero-name">
                    <h1 class="p-name fn n"><span class="p-given-name given-name">Benjamin</span> <span
                            class="p-family-name family-name">Altpeter</span></h1>
                </div>
                <div id="home-hero-bio">Data protection activist and co-chairman of <a class="no-link-decoration" href="https://www.datarequests.org/verein">Datenanfragen.de&nbsp;e.&nbsp;V.</a> Excited about open source and IT security. Studied CompSci at TU Braunschweig. Likes both making and breaking software. (he/him)</div>
            </div>
        </div>

        <div id="home-hero-contact">
            <div class="contact-col">
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/home.svg" | absURL }}"></div>
                    <p class="p-adr adr"><span class="p-street-address street-address">Schreinerweg 6</span><br><span
                            class="p-postal-code postal-code">38126</span> <span
                            class="p-locality locality">Braunschweig</span><br><span
                            class="p-country-name country-name">Germany</span></p>
                </div>
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/vcard.svg" | absURL }}"></div>
                    <p><a href="{{ "vCard.vcf" | absURL }}">download vCard</a></p>
                </div>
            </div>
            <div class="contact-col">
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/mail.svg" | absURL }}"></div>
                    <p><a href="mailto:hi@bn.al" class="u-email email">hi@bn.al</a> (<a
                            href="https://benjamin-altpeter.de/00EB2372.asc">PGP key</a>)</p>
                </div>
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/phone.svg" | absURL }}"></div>
                    <p class="p-tel tel"><span class="type" style="display:none;">Voice</span><span class="value">+49
                            531 615 4 710</span></p>
                </div>
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/fax.svg" | absURL }}"></div>
                    <p class="p-tel tel"><span class="type" style="display:none;">Fax</span><span class="value">+49 531
                            615 4 288</span></p>
                </div>
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/mobile.svg" | absURL }}"></div>
                    <p class="p-tel tel"><span class="type" style="display:none;">Cell</span><span class="value">+49 176
                            913 77 604</span></p>
                </div>
            </div>
            <div class="contact-col">
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/github.svg" | absURL }}"></div>
                    <p><a href="https://github.com/baltpeter" title="Find me on GitHub.">baltpeter</a></p>
                </div>
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/mastodon.svg" | absURL }}"></div>
                    <p><a rel="me" href="https://mastodon.social/@baltpeter" title="Find me on Mastodon.">@baltpeter</a>
                    </p>
                </div>
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/twitter.svg" | absURL }}"></div>
                    <p><a href="https://twitter.com/baltpeter" title="Find me on Twitter.">@baltpeter</a></p>
                </div>
                <div class="contact-block">
                    <div class="contact-icon"><img src="{{ "icons/matrix.svg" | absURL }}"></div>
                    <p><a href="https://matrix.to/#/@benni:matrix.altpeter.me"
                            title="Find me on Matrix.">@benni:matrix.altpeter.me</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

{{ partial "footer" . }}
